 body {
     background-color: rgb(166, 160, 173);
 }

 .movie-list {
     display: flex;
     background-color:rgb(166, 160, 173);
     justify-content: center;
 }

 .movie-item {
     margin: 10px;
 }